<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-image: url('https://imgur.com/a/jzXdH8x') !important;
      }
      .container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-left: 30px;
      }
      .title {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 80px;
        margin-top: 70px;
      }
      .info {
        font-size: 14px;
        color: #7a7886;
      }
      .desc {
        font-size: 16px;
        margin-top: -10px;
      }
      .tabel {
        font-size: 10px;
        border: 1px solid #333;
      }
    </style>
  </head>

  <body class='container'>
    <img src="1.jpg" />
    <table class="tabel">
      <tr>
        <th>ID Konsultasi</th>
        <th>NISN Siswa</th>
        <th>Tanggal Konsultasi</th>
        <th>Jenis Permasalahan</th>
      </tr>
  
      <% for(let i = 0; i < data.length; i++) { %>
        <tr class="tabel">
          <td class="tabel"><%= data[i].id_konsultasi %></td>
          <td class="tabel"><%= data[i].nisn_siswa %></td>
          <td class="tabel"><%= data[i].tanggal_konsultasi %></td>
          <td class="tabel"><%= data[i].jenis_permasalahan %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>